@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


html {
    direction: rtl;
    text-align: right;
    font-family: 'Tajawal', 'Cairo', sans-serif;
}